[submodule "rna_transcription"]
	path = rna_transcription
	url = git@github.com:JohnDanNinjaMan/rna_transcription.git
[submodule "hamming"]
	path = hamming
	url = git@github.com:JohnDanNinjaMan/hamming.git
